body {
    background-color: rgb(30, 30, 30);
}

#colorBox {
    width: 40vw;
    height: 30vw;
    border: 0.4rem solid rgb(255, 255, 255);
    text-align: center;
    cursor: crosshair;

    margin-left: 28.6vw;
}

h1 {
    font-family: 'Lacquer';
    color: white;
    font-size: 5vw;
}

h2 {
    font-family: 'Lacquer';
    color: white;
    font-size: 7vw;
    text-align: center;
}

p {
    font-family: 'Lacquer';
    color: white;
    text-align: center;
    font-size: 2vw;
}

label {
    font-family: 'Lacquer';
    color: white;
    text-align: center;
    font-size: 2rem;
    cursor: text;
}

button {
    width: 14rem;
    height: 2rem;
    font-family: 'Lacquer';
    font-size: 1rem;
    border-radius: 0.5rem;
    outline: none;
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

span {
    color: white;
    font-family: 'Lacquer';
    font-size: 1.3rem;
}

.container {
  text-align: center; 
}

a {
    text-decoration: underline;
    text-decoration-color: white;
}

footer {
    background-color: rgba(20, 20, 20);
    width: 100%;
    height: 20rem;
    margin-top: 30rem;
    text-align: center;
    font-family: 'Lacquer';
    font-size: 2rem;
    color: white;
}

#feedback {
    font-size: 5vw;
    color: gold;
    margin-bottom: 1vw;
    margin-top: 7vw;
}

#result {
    font-size: 3vw;
}

.githubIcon {
  content: url("github-white-icon.webp");
}

.githubIcon:hover {
  content: url("github-purple-icon.png");
}

.hidden {
    display: none;
}

#shareBtn {
    display: block;
    margin: 1.5vw auto 0 auto;   /* centers horizontally */
    background-color: rgb(0, 128, 255);
}

/* Button Hovers: */

.greenButton:hover {
    box-shadow: 0 0 35px rgb(0, 140, 86, 1);
}

.yellowButton:hover {
    box-shadow: 0 0 35px rgb(225, 215, 0, 1);
}

.whiteButton:hover {
    box-shadow: 0 0 35px rgb(255, 255, 255, 1);
}

.blueButton:hover {
    box-shadow: 0 0 35px rgb(0, 128, 255, 1);
}